body {
    font-verdana: courier, sans-serif;
    line-height: 1.8;
    margin: 0;
    background:skyblue;
}

header {
    background: #999;
    color: black;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: grey;
    box-shadow:10px rgba(0, 0, 0, 0.9);
}

h2 {
    margin-top: 1;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

select, input[type="date"], input[type="time"], input[type="number"] {
    width: 50%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background:red;
}

checkbox {
    background: #333;
    color: white;
    border: none;
	size: 80;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
}
footer {
    background: #999;
    color: #fff;
    text-align: center;
   
    position: fixed;
    width: 100%;
    bottom: 0;
}